<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/fonts.css">
    <!-- <link rel="stylesheet" href="/styles/style.css"> -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black">
<div class="video-container" class="h-screen">
    <video autoplay muted loop id="bg-video">
        <source src="/images/4ee62c2b13706e9e8907e67cf1812ea6.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <div class="overlay"></div>
    <div class="content">
        <div class="absolute bottom-1 right-0 left-0 p-5 z-20">
            <a href="user/register" class="bg-stone-300 text-lg block text-black p-3 rounded-xl text-center mb-4"><h2>Get started</h2></a>
            <a href="user/login" class="text-center text-base"><h2>Already have an Account? <span class="text-blue-400 underline">Log in</span></h2></a>
        </div>
    </div>
</div>
</body>
</html>